
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Document</title>
</head>
<body>

   

<form action="" method="POST" enctype="multipart/form-data"  >
       
        
        <div class="title">
            <textarea cols=40 rows="2"  aria-valuenow="Title" name="title" id ="title" placeholder="ENTER YOUR TITLE"></textarea>
        </div>
        <br>
        <div class="body">
            <textarea cols=60 rows="20"  aria-valuenow="write and express" name="body" id="body" placeholder="Express your feel you can use html syntaxs"></textarea>
        
            <div class="input">
                <input type="file" id='id_image' name='image0' /> 
                <input type="file" id='id_image' name='image1' />
                <input type="file" id='id_image' name='image2' /> 
                <input type="file" id='id_image' name='image3' />
                <input type="file" id='id_image' name='image4' /> 
                <input type="file" id='id_image' name='image5' />
                <input type="file" id='id_image' name='image6' /> 
                <input type="file" id='id_image' name='image7' />
                <input type="file" id='id_image' name='image8' /> 
                <input type="file" id='id_image' name='image9' />
                <input type="file" id='id_image' name='image10' /> 
                <input type="file" id='id_image' name='image11' />
                <input type="file" id='id_image' name='image12' /> 
                <input type="file" id='id_image' name='image13' />
                <input type="file" id='id_image' name='image14' /> 
                <input type="file" id='id_image' name='image15' />
                <input type="file" id='id_image' name='image16' />
                <input type="file" id='id_image' name='image17' />
                <input type="file" id='id_image' name='image18' /> 
                <input type="file" id='id_image' name='image19' />
                <input type="file" id='id_image' name='image20' /> 
                <input type="file" id='id_image' name='image21' />
                <input type="file" id='id_image' name='image22' /> 
                <input type="file" id='id_image' name='image23' />
                <input type="file" id='id_image' name='image24' /> 
                <input type="file" id='id_image' name='image25' />
                <input type="file" id='id_image' name='image26' /> 
                <input type="file" id='id_image' name='image27' />
                <input type="file" id='id_image' name='image28' /> 
                <input type="file" id='id_image' name='image29' />
                <input type="file" id='id_image' name='image30' /> 
                <input type="file" id='id_image' name='image31' />
                <input type="file" id='id_image' name='image32' /> 
                <input type="file" id='id_image' name='image33' />
                <input type="file" id='id_image' name='image34' />
                <input type="file" id='id_image' name='image35' />
            </div>
        
        

        </div>

       <br><h2>Insert a image</h2><br>
        
    
        <br><br><br><br><br>
   </form>

</body>
</html>